{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-md">
            <div class="card text-white bg-primary mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fas fa-users fa-3x"></i>
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">100 Personnes</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-white bg-success mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fas fa-hotel fa-3x"></i>
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">100.000 numéros</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-white bg-warning mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fas fa-folder fa-3x"></i>
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">2000 message envoyés</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-white bg-success mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fas fa-comments fa-3x"></i>
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">0 Avis postés</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md">
            <div class="alert alert-light">
                <ul class="nav nav-pills mb-3 w-100" id="pills-tab" role="tablist">
                    <li class="nav-item w-50">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                            <i class="fas fa-sms"></i> Messages
                        </a>
                    </li>
                    <li class="nav-item w-50">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>Phone numbers
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <p>
                            Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur elit id dolor proident in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <p>
                            <b>Eu dolore</b> ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur elit id dolor proident in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.
                        </p>
                    </div>
                </div>          
            </div>
        </div>
    </div>
</div>
{% endblock %}

